# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Distribuição / build
dist/
build/
*.egg-info/
*.egg

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
